.custom-dropdown-container {
  position: relative;
}

.dropdown-button {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-align: left;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--sidebar-bg);
  color: var(--text-secondary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* New CSS to create a chevron arrow */
.dropdown-arrow {
  border: solid var(--text-secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.dropdown-arrow.open {
  transform: rotate(-135deg);
}

.dropdown-button:hover .dropdown-arrow {
  border-color: var(--text-primary);
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: var(--sidebar-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  list-style-type: none;
  padding: 0.5rem 0;
  margin: 0;
  z-index: 10;
  max-height: 12rem;
  overflow-y: auto;
}

.dropdown-list::-webkit-scrollbar {
  width: 8px;
}

.dropdown-list::-webkit-scrollbar-track {
  background: var(--sidebar-bg);
  border-radius: 8px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 8px;
}

.dropdown-list::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

.dropdown-list li {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: var(--accent-blue);
  color: var(--text-primary);
}

.dropdown-list li.selected {
  background-color: var(--card-bg);
  font-weight: 500;
}